.background {

  background-image: url('../../../assets/img/background-home.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  background-color: #f3f4f6;


}
