<section class="background">
    <div class="titulo">
        <div class="introducao">
            <h1>Bolos Delicíosos</h1>
            <p>Um bolo fofinho é perfeito para acompanhar uma boa xícara de café ou chá tanto nos dias quentes, quanto
                nos dias mais frios. Existe uma infinidade de receitas saborosas, no qual separamos 4 sugestões de
                receitas deliciosas e práticas!</p>
            <p>Preparados?</p>
        </div>
    </div>
    <div class="cards">
        <app-menu-box
            *ngFor="let item of menuBox" 
            [icone]="item.icone" 
            [nome]="item.nome" 
            [resumo]="item.resumo"
            routerLink="/home/{{item.nome}}"
            [state]="{ id: item.id }">
        </app-menu-box>
    </div>
</section>