.background {
    background-image: url('../../../assets/img/background_home.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vh;
    background-color: #f3f4f6;
    object-fit: cover;
    object-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;

    .titulo {
        height: 75vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .introducao {
            display: flex;
            flex-direction: column;
            width: 60%;
            
            h1 {
                font-size: 6rem;
                color:#bfa065;
                font-weight: bold;
                margin-bottom: 20px;
            }
        
            p {
                font-size: 1.2rem;
                //font-family:'Open Sans', sans-serif;
                color: #808080;
                text-align: justify;
                font-weight: 100;
            }
        }

    }

    .cards {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        position: absolute;
        top: 70vh;

        app-menu-box {
            display: flex;
            align-items: stretch;
        }
    }
}

@media only screen and (min-width: 1500px) {
    .background {
        .titulo {
            .introducao {
                padding-right: 300px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .background {
        background-size: auto;
        background-image: url('../../../assets/img/background_1024.jpeg');
    }
}

@media only screen and (max-width: 768px) {
    .background {
        padding: 0px 30px;
        background-image: url('../../../assets/img/background_768.jpeg');

        .titulo {
            justify-content: center;

            .introducao {
                padding-left: 80px;
                h1 {
                    font-size: 4rem;
                }
            }
        }

        .cards {
            justify-content: center;
            align-items: center;
        }
    }

}

@media only screen and (max-width: 425px) {
    .background {
        background-image: url('../../../assets/img/background_425.jpeg');
        background-color: #f3f4f6;

        .titulo {
            
            .introducao {
                width: 80%;
                padding-left: 55px;
                h1 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
        .cards {
            margin: 0px;
        }
    }
}